<h1>Menu</h1>

<% # menu section navigation %>
<div class="btn-group">

  <% @sections.each do |section| %>

    <%= link_to section.name, menu_path(section_id: section.id), class: "btn #{params[:section_id] == section.id.to_s ? 'btn-primary' : 'btn-secondary' }" %>

  <% end %>

  <%= link_to 'Full Menu', menu_path, class: "btn #{params[:section_id].presence ? 'btn-secondary' : 'btn-primary' }" %>

</div>


<% # display menu for selected section %>
<div class="card card-block">

  <% if @food_items.count >= 1 %>

    <% @food_items.each do |item| %>
      <%= render partial: 'modal', locals: {id: item.id, name: item.name, desc: item.description, photo: item.image_url_or_default} %>
    <% end %>

    <%= form_tag nil, method: 'get' do %>
      <div class="form-inline">
        <% # we want to keep existing params %>
        <% if params[:section_id].present? %>
          <%= hidden_field_tag :section_id, params[:section_id] %>
        <% end %>
        <% if params[:search].present? %>
          <%= hidden_field_tag :search, params[:search] %>
        <% end %>

        <% #and take new params as well %>
        <label>Sort by:</label>
        <%= select_tag :sort_column, options_for_select(["name", "price"]), class: 'form-control' %>
        <label> Direction:</label>
        <%= select_tag :sort_direction, options_for_select(["asc", "desc"]), class: 'form-control' %>
        <%= submit_tag "Sort", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th style="text-align:center">Image</th>
        </tr>
      </thead>
      <tbody>
        <% @food_items.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= number_with_delimiter(item.price, delimiter: ' ') %> VND</td>
              <td align="center"><%= image_tag item.image_url_or_default, class: 'menu-image' %></td>
              <td align="right">
                <%= content_tag(:button, 'Show Detail', class: 'btn btn-secondary', :data => {:toggle => 'modal', :target => "#modalId_#{item.id}"}) %>
                <%= link_to "Add to Order", new_food_item_order_path(item), class: 'btn btn-secondary' %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>

    <% if params[:search].present? %>

      <h5 class="card-title">Sorry, We couldn't find anything by that name.</h5>

    <% else %>

      <h5 class="card-title"><%= @current_section ? @current_section : '' %> Menu Coming Soon&hellip;</h5>

    <% end %>

  <% end %>
</div>
